{% extends "base_template.html" %}

{% block titulo %}
Convenios y Alianzas
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4" style="font-family: 'Playfair Display', serif; color: #4f4b4b;">
        Convenios y Alianzas
    </h1>
    <div class="row">
        <div class="col-md-12">
            <h2 style="font-family: 'Playfair Display', serif; color: #3d3d3d; border-bottom: 2px solid #d4a373;">
                Descuentos y Alianzas
            </h2>
            <p style="font-size: 1.1em; color: #6b705c; line-height: 1.8;">
                Conoce los beneficios exclusivos que ofrecemos gracias a nuestras alianzas estratégicas.
            </p>
        </div>
    </div>
    <hr style="border: 1px solid #d4a373;">
    <div class="row">
        <div class="col-md-12">
            <h2 style="font-family: 'Playfair Display', serif; color: #3d3d3d; border-bottom: 2px solid #d4a373;">
                Convenios con Empresas
            </h2>
            <p style="font-size: 1.1em; color: #6b705c; line-height: 1.8;">
                Aquí encontrarás una lista detallada de las empresas con las que colaboramos y los beneficios que ofrecen.
            </p>
        </div>
    </div>
</div>
{% endblock %}
