{% extends "base_template.html" %}
{% block content %}
<div class="container">
  <h3>Ingresa tus datos</h3>

  <form action="/registro" method="post" class="form-container">
    <input type="hidden" name="pieza_id" value="{{ pieza_id }}">
    <input type="hidden" name="fecha_inicio" value="{{ fecha_inicio }}">
    <input type="hidden" name="fecha_fin" value="{{ fecha_fin }}">

    <div class="form-group">
      <label for="nombre_apellido">Nombre y Apellido:</label>
      <input type="text" id="nombre_apellido" name="nombre_apellido" required>
    </div>

    <div class="form-group">
      <label for="rut_pasaporte">N° Rut o N° Pasaporte:</label>
      <input type="text" id="rut_pasaporte" name="rut_pasaporte" required>
    </div>

    <div class="form-group">
      <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
      <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
    </div>

    <div class="form-group">
      <label for="pais">País:</label>
      <input type="text" id="pais" name="pais" required>
    </div>

    <div class="form-group">
      <label for="numero_celular">Número de Celular:</label>
      <input type="tel" id="numero_celular" name="numero_celular" required>
    </div>

    <div class="form-group">
      <label for="correo">Correo Electrónico:</label>
      <input type="email" id="correo" name="correo" required>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
  </form>
</div>
{% endblock %}
