{% extends "base_template.html" %}

{% block content %}
<div class="container">
  <h3 class="text-center mb-4">Reserva tu Habitación</h3>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="alert-container">
        {% for category, message in messages %}
          <div class="alert {% if category == 'danger' %}alert-danger{% elif category == 'success' %}alert-success{% endif %} mt-3">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <form action="{{ url_for('register', habitacion_id=pieza_id) }}" method="POST" class="form-container shadow p-4 rounded bg-light">
    <input type="hidden" name="habitacion_id" value="{{ pieza_id }}">

    <div class="form-group mb-3">
      <label for="llegada" class="font-weight-bold">Fecha de Llegada</label>
      <input type="date" id="llegada" name="llegada" value="{{ llegada }}" required class="form-control">
    </div>

    <div class="form-group mb-3">
      <label for="salida" class="font-weight-bold">Fecha de Salida</label>
      <input type="date" id="salida" name="salida" value="{{ salida }}" required class="form-control">
    </div>

    <div class="form-group mb-3">
      <label for="personas" class="font-weight-bold">Cantidad de Personas</label>
      <input type="text" id="personas" name="personas" placeholder="1" required class="form-control">
      <small class="form-text text-muted">Máximo: {{ capacidad_habitacion }} persona(s)</small>
    </div>
  
    <div class="form-group mb-3">
      <label for="nombre_apellido" class="font-weight-bold">Nombre y Apellido</label>
      <input type="text" id="nombre_apellido" name="nombre_apellido" required class="form-control">
    </div>

    <div class="form-group mb-3">
      <label for="fecha_nacimiento" class="font-weight-bold">Fecha de Nacimiento</label>
      <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required class="form-control">
    </div>

    <div class="form-group mb-3">
      <label for="pais" class="font-weight-bold">País</label>
      <select id="pais" name="pais" class="form-control pais-select" required>
        <option value="AR" data-img="/static/banderas/ar.png">Argentina</option>
        <option value="BR" data-img="/static/banderas/br.png">Brasil</option>
        <option value="CA" data-img="/static/banderas/ca.png">Canadá</option>
        <option value="CL" data-img="/static/banderas/cl.png">Chile</option>
        <option value="CO" data-img="/static/banderas/co.png">Colombia</option>
        <option value="MX" data-img="/static/banderas/mx.png">México</option>
        <option value="PE" data-img="/static/banderas/pe.png">Perú</option>
        <option value="US" data-img="/static/banderas/us.png">Estados Unidos</option>
        <option value="UY" data-img="/static/banderas/uy.png">Uruguay</option>
        <option value="VE" data-img="/static/banderas/ve.png">Venezuela</option>
        <option value="FR" data-img="/static/banderas/fr.png">Francia</option>
        <option value="DE" data-img="/static/banderas/de.png">Alemania</option>
        <option value="IT" data-img="/static/banderas/it.png">Italia</option>
        <option value="NL" data-img="/static/banderas/nl.png">Países Bajos</option>
        <option value="PT" data-img="/static/banderas/pt.png">Portugal</option>
        <option value="ES" data-img="/static/banderas/es.png">España</option>
        <option value="SE" data-img="/static/banderas/se.png">Suecia</option>
        <option value="CH" data-img="/static/banderas/ch.png">Suiza</option>
        <option value="GB" data-img="/static/banderas/gb.png">Reino Unido</option>
        <option value="AU" data-img="/static/banderas/au.png">Australia</option>
        <option value="IN" data-img="/static/banderas/in.png">India</option>
        <option value="CN" data-img="/static/banderas/cn.png">China</option>
        <option value="JP" data-img="/static/banderas/jp.png">Japón</option>
        <option value="KR" data-img="/static/banderas/kr.png">Corea del Sur</option>
        <option value="RU" data-img="/static/banderas/ru.png">Rusia</option>
        <option value="ZA" data-img="/static/banderas/za.png">Sudáfrica</option>
      </select>
    </div>
    <div id="rut_field" class="form-group mb-3" style="display: none;">
      <label for="rut" class="font-weight-bold">RUT</label>
      <input type="text" id="rut" name="rut" class="form-control" placeholder="12345678-9">
      <small id="rut_error" class="text-danger" style="display: none;">El RUT ingresado no es válido.</small>
    </div>
    
    <div id="pasaporte_field" class="form-group mb-3" style="display: none;">
      <label for="pasaporte" class="font-weight-bold">Pasaporte</label>
      <input type="text" id="pasaporte" name="pasaporte" class="form-control">
    </div>

    <input type="text" id="numero_celular" name="numero_celular" class="form-control" required
    maxlength="{{ longitud_numero_celular }}"
    placeholder="Ingresa tu número de celular">

    <div class="form-group mb-3">
      <label for="correo" class="font-weight-bold">Correo Electrónico</label>
      <input type="email" id="correo" name="correo" required class="form-control">
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Reservar</button>
    {% if current_user.is_authenticated and current_user.es_admin() %}
      <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Reservar</button>
    {% endif %}
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<script>
  $(document).ready(function() {
    $('#pais').select2({
      width: '100%', 
      templateResult: function(state) {
        if (!state.id) { return state.text; }
        var imgUrl = $(state.element).data('img'); 
        var $state = $('<span><img src="' + imgUrl + '" style="width: 20px; height: 15px; margin-right: 10px;" /> ' + state.text + '</span>');
        return $state;
      },
      templateSelection: function(state) {
        var imgUrl = $(state.element).data('img'); 
        var $state = $('<span><img src="' + imgUrl + '" style="width: 20px; height: 15px; margin-right: 10px;" /> ' + state.text + '</span>');
        return $state;
      }
    });
    $('#pais').on('change', function() {
      var selectedCountry = $(this).val();
      if (selectedCountry === 'CL') {
        $('#rut_field').show();
        $('#pasaporte_field').hide();
        $('#rut').attr('required', true);
        $('#pasaporte').removeAttr('required');
      } else {
        $('#rut_field').hide();
        $('#pasaporte_field').show();
        $('#rut').removeAttr('required');
        $('#pasaporte').attr('required', true);
      }
    });
    if ($('#pais').val()) {
      $('#pais').trigger('change');  
    }
    var today = new Date().toISOString().split('T')[0];
    document.getElementById("llegada").setAttribute("min", today);

    $('#llegada').on('change', function() {
      var llegadaDate = new Date($(this).val());
      var salidaDate = new Date($('#salida').val());
      if (llegadaDate > salidaDate) {
        $('#salida').val($(this).val());
      }
      $('#salida').attr('min', $(this).val());
    });
  });
  $(document).ready(function() {
    $('#salida').parent().hide();

    $('#llegada').on('change', function() {
      var llegadaDate = $(this).val();

      if (llegadaDate) {
        $('#salida').parent().show(); 
        $('#salida').attr('min', llegadaDate);
      } else {
        $('#salida').parent().hide(); 
        $('#salida').val('');
      }
    });

    var today = new Date().toISOString().split('T')[0];
    document.getElementById("llegada").setAttribute("min", today);

    $('#salida').on('change', function() {
      var llegadaDate = new Date($('#llegada').val());
      var salidaDate = new Date($(this).val());

      if (llegadaDate > salidaDate) {
        alert("La fecha de salida no puede ser anterior a la de llegada.");
        $(this).val('');
      }
    });
  });
  document.addEventListener('DOMContentLoaded', function() {
            var today = new Date().toISOString().split('T')[0];
            document.getElementById("fecha_nacimiento").setAttribute("max", today);
        });
        function validarRut(rut) {
  if (!/^[0-9]+-[0-9kK]{1}$/.test(rut)) return false;

  var [rutBody, dv] = rut.split("-");
  var sum = 0, multiplier = 2;

  for (var i = rutBody.length - 1; i >= 0; i--) {
    sum += parseInt(rutBody[i]) * multiplier;
    multiplier = multiplier === 7 ? 2 : multiplier + 1;
  }

  var calculatedDv = 11 - (sum % 11);
  calculatedDv = calculatedDv === 11 ? "0" : calculatedDv === 10 ? "k" : calculatedDv.toString();

  return dv.toLowerCase() === calculatedDv;
}

// Evento de Validación
document.getElementById('rut').addEventListener('input', function () {
  const rutInput = this.value.trim();
  const rutError = document.getElementById('rut_error');

  if (rutInput && !validarRut(rutInput)) {
    rutError.style.display = 'block';
  } else {
    rutError.style.display = 'none';
  }
});
document.addEventListener('DOMContentLoaded', function() {
    const numerosNacionales = {
        'AR': '+549', 
        'BR': '+559',  
        'CA': '+1',     
        'CL': '+569', 
        'CO': '+573',  
        'MX': '+521', 
        'PE': '+519',  
        'US': '+1',     
        'UY': '+598',  
        'VE': '+584',  
        'FR': '+33',    
        'DE': '+49',   
        'IT': '+39',   
        'NL': '+31', 
        'PT': '+351',  
        'ES': '+34',  
        'SE': '+46',    
        'CH': '+41',    
        'GB': '+44',  
        'AU': '+61',    
        'IN': '+91',    
        'CN': '+86',    
        'JP': '+81',    
        'KR': '+82',    
        'RU': '+7',     
        'ZA': '+27',   
    };

    const longitudesPais = {
      'AR': 12, 
      'BR': 13,  
      'CA': 12,  
      'CL': 12,  
      'CO': 12, 
      'MX': 13,  
      'PE': 13, 
      'US': 12,  
      'UY': 12,  
      'VE': 13, 
      'FR': 13,  
      'DE': 13,  
      'IT': 13,  
      'NL': 13,  
      'PT': 13,  
      'ES': 13,  
      'SE': 13,  
      'CH': 13, 
      'GB': 13,  
      'AU': 13,  
      'IN': 14, 
      'CN': 14, 
      'JP': 14,  
      'KR': 14,  
      'RU': 14,  
      'ZA': 13,  
    };

    const paisSelect = document.getElementById('pais');
    const numeroCelularInput = document.getElementById('numero_celular');

    function actualizarNumeroCelular() {
      const paisSeleccionado = paisSelect.value;

      const prefijoCelular = numerosNacionales[paisSeleccionado] || '';
      numeroCelularInput.value = prefijoCelular;

      const longitud = longitudesPais[paisSeleccionado] || 0;
      numeroCelularInput.maxLength = longitud;
    }

    paisSelect.addEventListener('change', actualizarNumeroCelular);

    actualizarNumeroCelular();
  });
</script>

{% endblock %}
